body 			{ margin:0; padding:0;}
#controls 		{ padding:0 0 8px 10px; border-bottom:2px solid #ccc;}
.color 			{ display:inline-block; width:30px; height:30px; margin:5px; border:none; cursor:pointer; opacity:0.5 }
.color.active	{ opacity:1; }
nav ul li {display:inline-block; padding:5px;}
nav ul li a {color:#069; text-decoration:none;}
nav ul li a:hover {color:#006;}
article {padding:10px; background:#FC6;}